body{
  font-family: Arial;
  background-color: black;
}

.grey-button,
.clear-button{
  background-color: rgb(51, 51, 51);
  border: none;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 26px;
  margin-right: 5px;
}

.clear-button{
  font-size: 17px;
}

.orange-button{
  background-color: rgb(254, 160, 10);
  border: none;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 26px;
}

.result-box{
  color: white;
  border: none;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}